<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Disease Prediction</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      /* Custom styles */
      header {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
      }
      button {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" class="btn btn-secondary btn-sm float-left">Home</a>
      <h1>Diabetes Predictor</h1>
    </header>
      <div class="container text-center mt-4">
        <a href="{{ url_for('Test_Model_Diabetes') }}" class="btn btn-primary btn-lg px-4">View Predictions</a>
        <a href="{{ url_for('Predict_Diabetes') }}" class="btn btn-primary btn-lg px-4">Enter Your Details</a>
      </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>