<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Healthcare Recommendation System</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      /* Custom styles */
      header {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        /* margin-left: 50px; */
      }
      button {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" class="btn btn-secondary btn-sm float-left">Home</a>
      <h1>Healthcare Recommendation System</h1>
    </header>
    <div class="container text-center mt-4">
      <a href="{{ url_for('diabetes') }}" class="btn btn-primary btn-lg px-4">Diabetes Prediction</a>
      <a href="{{ url_for('heart_disease') }}" class="btn btn-primary btn-lg px-4">Heart Disease Prediction</a>
    </div>
    
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>